#videoContainer {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  video {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    box-sizing: border-box;
    .videoControls_play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls_playBtn {
        margin: 0 15px;
      }
      .videoControls_time {
        font-size: 14px;
      }
    }
    .videoControls_volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 18px;
        }
      }
    }
    .videoControls_screen {
      margin-right: 10px;
      i {
        font-size: 18px;
      }
    }
  }
}

.video_info {
  display: flex;
  flex-direction: column;
  .video_title {
    font: 26px bold;
    margin-bottom: 5px;
  }
  .video_hashtags {
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 8px;
  }
  .video_description {
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 3px;
  }
  .video_createdAt {
    font-size: 12px;
    opacity: 0.6;
    margin-bottom: 8px;
  }
  .video_uploader {
    margin-bottom: 10px;
    font-size: 14px;
    a {
      font-size: 18px;
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

.video_edit {
  font-size: 14px;
  color: cornflowerblue;
  text-decoration: underline;
}

.video_add_comments {
  width: 100%;
  .video_comments_addForm {
    margin-top: 15px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    textarea {
      width: 90%;
      height: 30px;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px;
    }
    button {
      margin-left: 10px;
      font-size: 16px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: white;
      background-color: $red !important;
      cursor: pointer;
    }
  }
}

.video_comments {
  width: 500px;
  display: flex;
  .video_comments_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .video_comment {
      position: relative;
      width: 100%;
      padding: 10px;
      border-radius: 9999px;
      color: black;
      background-color: white;
      margin-bottom: 10px;
      .deleteBtn {
        cursor: pointer;
        position: absolute;
        right: 10px;
      }
    }
  }
}
