extends base

block content 
    h2 Edit Title: #{video.title}
    form(method="POST")
        input(placeholed="Edit Title", value=`${video.title}`, name="title", required)
        input(type="submit", value="Save")