extends ../base
include ../mixins/video

block content
    form(method="GET")
        input(name="keyword" ,type="text", placeholder="Search by Title")
        input(type="submit", value="Search")
        
    div 
        each video in videos 
            +video(video)